<header>
  <div class="container">
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Categorias</a></li>
        <li><a routerLink="/lists">Listas</a></li>
        <li><a routerLink="/itens">Itens</a></li>
      </ul>
    </nav>
  </div>
</header>
