<div class="card">
  <div class="card-header">
    Itens
  </div>
  <div style="padding:20px;" class="mat-elevation-z8">
    <form style="padding:20px;" [formGroup]="form" (ngSubmit)="enviarDados()">
        <div class="form-group">
          <label for="name">Nome do Item: </label>
          <input class="form-control form-control-sm" type="text" formControlName="name">
        </div>
        <div class="form-group">
            <label for="categoria">Lista: </label>
            <select class="form-control form-control-sm" formControlName="listID">
              <option *ngFor="let list of lists; let i = index" [value]="lists[i].id">
                  {{lists[i].name}}
              </option>
            </select>
          </div>
          <div class="form-group">
              <button class="btn btn-primary mb-2">Salvar</button>
          </div>
    </form>
  </div>
  <div style="padding:20px;" class="mat-elevation-z8">
    <table mat-table [dataSource]="itens">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="lista">
        <th mat-header-cell *matHeaderCellDef> Lista </th>
        <td mat-cell *matCellDef="let element"> {{element.lista}} </td>
      </ng-container>
      <ng-container matColumnDef="concluido">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">{{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-success" mat-flat-button *ngIf="!element.done"  color="accent"  (click)="setDone(element)" selected>Finalizar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
