<div class="card">
    <div class="card-header">
      Listas
    </div>
<div style="padding:20px;" class="mat-elevation-z8">
  <form [formGroup]="form" (ngSubmit)="enviarDados()">
      <div class="form-group">
        <label for="name">Nome: </label>
        <input class="form-control form-control-sm" type="text" formControlName="name">
      </div>
      <div class="form-group">
          <label for="categoria">Categoria </label>
          <select class="form-control form-control-sm" formControlName="categoriaID">
            <option *ngFor="let categoria of categorias; let i = index" [value]="categorias[i].id">
                {{categorias[i].name}}
            </option>
          </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary mb-2">Salvar</button>
        </div>
  </form>
</div>
<div style="margin-top:50px;" class="mat-elevation-z8">
    <table mat-table [dataSource]="lists">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
