<div class="card">
  <div class="card-header">
    Categorias
  </div>
  <div style="padding-top:10px;" class="mat-elevation-z8">
    <ul class="no-ball">
      <li *ngFor="let categoria of data">
          {{categoria.id}} - {{categoria.name}}
      </li>
    </ul>
  </div>
</div>
