@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

.no-ball{
  list-style: none;
}

table {
  width: 100%;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

header {
  background: #7700FF;

  .logo {
      font-weight: bold;
  }

  nav {
      justify-self: right;

      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  padding: 1.5em;
                  text-transform: uppercase;
                  font-size: .8em;

                  &:hover {
                      background: #8E2BFF;
                  }
              }
          }
      }
  }
}
